a, a:visited {
  /*color: #993300;*/
  text-decoration: none;
}

body {
  background: white;
  color: black;
  font-family: "Verdana", "Arial", sans-serif;
	line-height: 150%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5px;
  padding: 0px;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
  margin-left: 2%;
}

h3, h4, h5, h6 {
  font-size: large;
  margin-left: 5%;
}

h2.title, h2.subtitle, h3.author, h3.title, h3.subtitle {
	line-height: 100%;
  margin-left: 0px;
  text-align: left;
}

h3.editor, h4.editedby, p.copyright {
  display: none;
}

table {
  border-color: black;
  border-width: 2;
}

.epigraph {
  font-size: small;
  margin-bottom: 40px;
  text-align: right;
}

pre.programlisting, pre.screen, code {
  font-family: "Terminus", "Courier New", Courier, monospace;
}

p.note, div.example pre.programlisting, pre.screen {
  background-color: #f8f8f8;
  margin: 1em 0 1em 0;
  padding: 0.2em;
}

div.example pre.programlisting {
  border: 1px solid #e0e0e0;
}

pre.screen {
  border-left: 1px solid #e0e0e0;
}

.epigraph, .list-of-examples, .list-of-figures, .toc, div.example pre.programlisting, pre.screen {
	line-height: 110%;
}

.copyright-notice, .navheader, .navfooter {
  color: black;
  font-size: small;
	line-height: 110%;
  text-decoration: none;
  width: 100%;
}

.copyright-notice {
  margin-top: 10px;
}

.filename {
  font-style: italic;
}

.navheader, .navfooter {
  background-color: #DEE7EC;
  border: 1px solid #DEE7EC;
  -moz-border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 2px;
}

.navheader hr, .navfooter hr {
  display: none;
}

.table table {
  border: 1px #eeeeee solid;
  border-spacing: 0px;
}

.table td {
  border: 1px #eeeeee solid;
  text-align: left;
  vertical-align: top;
}

.table th {
  background: #eeeeee;
  border: 1px #eeeeee solid;
  text-align: left;
  vertical-align: top;
}

.sidebar {
  display: none;
}

pre span.bg {
  color: #ffffff;
}

pre span.comment {
  color: #ba8370;
}

pre span.default {
  color: #113d73;
}

pre span.html {
  color: #000000;
}

pre span.keyword {
  color: #005500;
}

pre span.string {
  color: #550000;
}
